In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from common.default_styles import DefaultStyles

In [6]:
df = pd.read_csv('/Users/martinbell/analysis/voyager/source/VG2-SS-PLS-4-SUMM-1DAY-AVG-V1.0/DATA/2018_021_AUG.TAB', sep='\t', header = None, names = [
    "DECIMAL YEAR",
    "DAY OF YEAR",
    "V2 ANGLE",
    "V2 HELIOLATITUDE",
    "EARTH HELIOLATITUDE"
    "V2 HELIOLONGITUDE",
    "EARTH HELIOLONGITUDE",
    "VR",
    "VT",
    "VN",
    "DEN MOMENT",
    "DEN FIT",
    "W MOMENT",
    "W FIT",
    "R"]
    )

In [7]:
df.head()

,DECIMAL YEAR,DAY OF YEAR,V2 ANGLE,V2 HELIOLATITUDE,EARTH HELIOLATITUDEV2 HELIOLONGITUDE,EARTH HELIOLONGITUDE,VR,VT,VN,DEN MOMENT,DEN FIT,W MOMENT,W FIT,R
0,77.640076 234. 0.65 7.20 6.96 -105...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,77.642250 235. 0.92 7.31 6.99 -104...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,77.645432 236. 1.32 7.48 7.02 -103...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,77.648155 237. 1.66 7.62 7.06 -101...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,77.649902 238. 1.87 7.71 7.07 -100...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN